body {
    background-color: black;
}

.img1 {
    width: 221px;
    height: 53px;
}

.black-background {
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
}

.font-size-small {
    font-size: 12px;
    word-spacing: 12px;
}

.btn-signin {
    height: 30px;
    border: 1px solid #1a7051;
    background: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 15px;
    font: 12px/16px Roboto, Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    transition: color 180ms, background 180ms, border 180ms;
    margin-top: 3px;
}

.btn-signup {
    height: 30px;
    border: 1px solid #1a7051;
    background: #1a7051;
    box-sizing: border-box;
    padding: 0 15px;
    font: 12px/16px Roboto, Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    transition: color 180ms, background 180ms, border 180ms;
    margin-top: 3px;
}

.signup-btn {
    float: left;
    box-sizing: border-box;
    height: 36px;
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
}

.div-margin {
    margin-top: 8px;
}

.bck-none {
    border: none;
    background: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.dropdown-3d {
    background: rgb(0, 0, 0);
    transform: translate3d(-200px, 13px, 0px) !important;
}

.width-200 {
    width: 250px;
    /* padding: 12px 12px 0 12px; */
    background: rgb(0, 0, 0);
}

.color-white {
    color: white;
}

.font-size-11 {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 14px;
    padding-bottom: 16px;
    padding-top: 13px;
    margin-top: -15px;
}

.background-color-gray {
    background-color: rgb(46, 50, 62);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.bg-gray {
    background-color: #293043;
    color: white;
}

.color-white {
    color: white !important;
}

.bg-100 {
    background-color: rgb(100, 17, 61);
}

.bg-blc {
    background-color: #212531;
}

.border-bottom {
    border-bottom: 2px solid rgb(243, 170, 209) !important;
}

.btn-color {
    background-color: #2e323e;
    color: #a4a9bc;
    border: none;
    height: 36px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 36px;
}

.margin-top-6px {
    margin-top: 6px;
    margin-left: 20px;
}

.b {
    font-size: 10px;
    color: #7c8292;
    padding: 6px 5px;
    background: #181a20;
    border-radius: 50%;
}

.btn-color2 {
    background: #64113D;
    color: #fff;
}

.text-decoration-none {
    text-decoration: none !important;
}

input[type=text] {
    border: none;
    background-color: #2e323e;
    width: 145px;
}

input::placeholder {
    border: none;
    background-color: #2e323e;
    font-size: 15px;
}

.search-container button {
    /* float: right;
    margin-right: 43px; */
    border: none;
}

.search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    input[type=text] {
        border: 1px solid #ccc;
    }
}

.span-menu {
    font-size: 19px;
    margin-left: 8px;
}

.icons-menu {
    position: absolute;
    left: 3px;
    top: 16px;
}

.icons-left {
    position: absolute;
    right: 3px;
    top: 16px;
}

.padding-19px {
    padding: 22px;
    margin-left: 17px;
}

.height-250 {
    height: 81%;
    width: 100%;
    overflow-y: scroll;
}

.float-right {
    float: right;
}

.padding-10 {
    padding: 10px;
}

.bg-color-gray {
    font-size: 11px;
    padding: 7px;
    background-color: rgb(84, 92, 110);
}

.bg-gray-2 {
    background-color: rgb(33, 37, 49);
}

.color-orange {
    color: orange;
}

.bg-color-bgl {
    background-color: rgb(54, 57, 69);
}

.font-size-10 {
    font-size: 10px;
}

.margin-0 {
    margin: 0;
}

.group-wrap {
    float: left;
    width: 100%;
    border-bottom: 1px solid #404654;
    padding: 0 0 1px;
    height: 35px;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #0e151b;
    z-index: 200;
    margin: 0 0 4px;
}

.group-wrap>ul {
    display: table;
    table-layout: fixed;
    position: relative;
    float: left;
    width: 100%;
}

ul {
    list-style: none;
}

.group-wrap>ul>li {
    display: table-cell;
    box-sizing: border-box;
    background: #212531;
    background-clip: padding-box;
    border-left: 1px solid transparent;
    position: relative;
    color: #7c8292;
    height: 33px;
    text-align: center;
    z-index: 10;
    transition: 240ms color, 240ms background, 240ms box-shadow;
}

.group-wrap>ul.has-dropdown {
    /* display: block; */
    height: 33px;
}

.group-wrap>ul>li.favorite-market-group-j {
    width: 38px;
    background: #2e323e;
    background-clip: padding-box;
    position: relative;
}

.group-wrap>ul>li:nth-child(2) {
    border-radius: 0 2px 0 0;
}

.group-wrap>ul.has-dropdown>li.column-3:nth-child(4) {
    width: calc((100% - 98px) / 3);
}

.group-wrap>ul.has-dropdown>li.column-3:nth-child(5) {
    width: calc((100% - 98px) / 3);
}

.group-wrap>ul>li.active {
    background: #404654;
    color: #fff;
    background-clip: padding-box;
}

.group-wrap>ul>li span {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 12px;
    line-height: 33px;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.group-wrap>ul.has-dropdown>li.more-j {
    float: right;
    display: block;
}

.group-wrap>ul.has-dropdown>li {
    height: 33px;
}

.group-wrap>ul>li.more-j {
    width: 60px;
    border-radius: 2px 0 0 0;
    text-align: right;
}


/* .group-wrap>ul>li.more-j::before {
    content: "\e66c";
    font: 12px/36px icomoon;
    display: block;
    position: absolute;
    top: 0;
    right: 9px;
    color: #7c8292;
} */

.right-39 {
    right: 39px;
}

.left-58 {
    left: 43px !important;
}

.fav-icon {
    position: relative;
    top: 4px;
}

.right-left-events-wrapper {
    float: left;
    width: 100%;
}

.live-events-col {
    width: 100%;
    padding: 0;
}

.market-view3 {
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0 0 5px;
}

.market-title {
    box-sizing: border-box;
    float: left;
    width: 100%;
    border-radius: 2px 2px 0 0;
    contain: strict;
    height: 28px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    background: #363945;
    box-shadow: 0 1px 0 #363b4a inset;
    padding: 0;
}

.market-title::before {
    content: "" attr(data-title) "";
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0 0 10px;
    font-size: 12px;
    line-height: 28px;
    font-weight: normal;
    color: #c1c4cd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.market-title.closed {
    border-radius: 2px;
}


/* .market-title.closed::after {
    content: "\e670";
} */


/* .market-title::after {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    font: 16px/28px icomoon;
    color: #7c8292;
    content: "\e671";
    text-align: center;
} */

.market-icon {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: 4px 0 3px;
}

.market-icon>li {
    box-sizing: border-box;
    height: 20px;
    min-width: 30px;
    display: inline-block;
    vertical-align: top;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px;
    text-align: center;
    white-space: nowrap;
    color: #c1c4cd;
}

.link-market-icon::before {
    /* box-sizing: border-box; */
    color: #9fa948;
    /* position: relative;
    top: 1px; */
}

.cash-out-icon-market::before {
    /* box-sizing: border-box; */
    color: #028947;
}

.fav-icon-market::before {
    box-sizing: border-box;
    color: #101523;
    cursor: pointer;
}

.l-b.column-3 {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

.l-b {
    box-sizing: border-box;
    width: 100%;
    float: left;
    display: grid;
    font-size: 0;
    grid-column-gap: 1px;
    grid-template-rows: auto;
    contain: style;
}

.single-events {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    background: #212531;
    color: #8e93a4;
    position: relative;
    cursor: pointer;
    margin: 1px 0 0;
    contain: layout;
}

.single-events::before {
    content: "" attr(title) "";
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 12px;
    padding: 0 5px 0 0;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max-bet-tooltip {
    box-sizing: border-box;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    display: none;
    padding: 2px 4px;
    background: #1a7051;
    border-radius: 2px;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
}

.p-v {
    display: inline-block;
    font-weight: normal;
    color: #b6862e;
    vertical-align: top;
    text-align: right;
}

.right-column {
    display: block;
    grid-area: right;
    -ms-grid-column: 3;
    overflow-y: scroll;
    overflow-x: hidden;
}

.view-settings {
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 27px;
    padding-bottom: 3px;
    background: #0e151b;
    border-radius: 2px;
    position: relative;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 444;
    transform: translate3d(0, 0, 0);
}

.view-settings>ul {
    box-sizing: border-box;
    float: left;
    width: 100%;
    background: #212531;
}

.view-settings>ul>li {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0 1px;
    margin: 0;
    position: relative;
}

.view-settings>ul>li:first-child {
    padding-right: 2px;
}

.view-settings>ul>li:first-child::before {
    box-sizing: border-box;
    position: absolute;
    display: block;
    content: "";
    height: 16px;
    width: 1px;
    background: #101219;
    top: 4px;
    right: 0;
}

.time-filter {
    box-sizing: border-box;
    float: left;
    height: 24px;
    position: relative;
    z-index: 271;
    cursor: pointer;
}

.view-settings>ul>li.time-filter>p {
    box-sizing: border-box;
    text-transform: none;
    color: #8e93a4;
    padding: 0 28px 0 5px;
}

.time-filter>p {
    box-sizing: border-box;
    float: left;
    width: 100%;
    position: relative;
    padding: 0 28px;
    color: #c1c4cd;
    font-size: 12px;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
}

.bc12 {
    border: 1px solid gray;
    /* border-bottom: 13px; */
    width: 95%;
}

.bet_slip {
    padding-top: 9px;
    padding-left: 6px;
}

.float-icon {
    float: right;
    padding-right: 13px;
}

.betting {
    background: #2e323e;
    box-shadow: none;
    color: #c1c4cd;
    border-bottom: 1px solid #2e323e;
    padding-right: 45px;
    padding-left: 18px;
    padding-bottom: 3px;
}

.booking {
    color: #7c8292;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    height: 25px;
    border-bottom: 1px solid #2e323e;
    background: #0e151b;
    padding-right: 32px;
    padding-left: 18px;
    padding-bottom: 3px;
}

.switch {
    display: inline-block;
    width: 43px;
    height: 20px;
    margin: 8px;
    transform: translateY(50%);
    position: relative;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    cursor: pointer;
    border: 0 solid transparent;
    overflow: hidden;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #777;
    border-radius: 30px;
    transform: translateX(-30px);
    transition: .4s;
}

input:checked+.slider:before {
    transform: translateX(30px);
    background: limeGreen;
}

input[type=checkbox] {
    display: none;
}

input:checked+.slider {
    box-shadow: 0 0 0 2px limeGreen, 0 0 2px limeGreen;
}

.backe {
    background: #343a40;
    font-size: 12px;
    width: 95%;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.text-small {
    font-size: 9px;
    padding-left: 18px;
    padding-top: 7px;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}